<h1>Authentications#login</h1>
<p>Find me in app/views/authentications/login.html.erb</p>

<%= form_tag({controller: :authentications, action: :checkUser}, {method: :post}) %>
  <%= label_tag :email %>
  <%= email_field_tag :title, @request_auth[:email], name: "email"%>　<br>
  <%= label_tag :password %>
  <%= password_field_tag :title, @request_auth[:password], name: "password"%>　<br>
  <%= submit_tag "ログイン" %>
