<h1>Authentications#login</h1>
<p>Find me in app/views/authentications/login.html.erb</p>
<%= form_tag({controller: :authentications, action: :checkUser}, {method: :post}) do %>
  <%= label_tag :email %>
  <%= email_field_tag :title, @request_auth[:email], name: "email", placeholder: 'email here' %> <br>
  <%= label_tag :password %>
  <%= password_field_tag :title, @request_auth[:password], name: "password", placeholder: 'password here'%> <br>
  <%= submit_tag "ログイン" %>
<% end %>