<%= form_for @schedule_content, url: schedules_path do |schedule_content| %>
    <p>
    <%= schedule_content.label :'タイトル' %>
    <%= schedule_content.text_field :title %>  
    </p>    
    <p>
    <%= schedule_content.label :'開始時刻' %>
    <%= schedule_content.datetime_local_field :started_at %>    
    </p>
    <p>
    <%= schedule_content.label :'終了時刻' %>
    <%= schedule_content.datetime_local_field :ended_at %>
    </p>    
    <p>
    <%= schedule_content.label :'説明' %>
    <%= schedule_content.text_area :detail %>    
    </p>    
    <%= schedule_content.submit %>
<% end %>