<h1>Calendars#calendar</h1>
<p>Find me in app/views/calendars/calendar.html.erb</p>
<%= link_to "logout", "/stab_authentications/logout" %>
<!-- <%= link_to "logout", "/logout" %> -->
<%
year = @year.to_i
month = @month.to_i
%>
<table width="100%">
  <tr><td width="60%" height="350">
    <table border width="100%" height="300">
	    <caption><h2><%= link_to "/calendar/#{@year}/#{@month-1}", {method: :get} do %><div style="width:0;height:0;border-top:solid 8px transparent;border-left:solid 8px transparent;border-bottom:solid 8px transparent;border-right:solid 8px #7a0;display:inline-block;_display:inline;"></div><% end %>　<%= year %>/<%= month %>　<%= link_to "/calendar/#{@year}/#{@month+1}", {method: :get} do %><div style="width:0;height:0;border-top:solid 8px transparent;border-right:solid 8px transparent;border-bottom:solid 8px transparent;border-left:solid 8px #7a0;display:inline-block;_display:inline;"></div><% end %></h2></caption>
      <tr>
        <th width="14%" style="color:red;">Sun</th>
        <th width="14%">Mon</th>
        <th width="14%">Tue</th>
        <th width="14%">Wed</th>
        <th width="14%">Thu</th>
        <th width="14%">Fri</th>
        <th width="14%" style="color:blue;">Sat</th>
      </tr>
      <tr>
      <%
        require 'date'
        first_day = Date.new(year,month,1)
        last_day = Date.new(year,month,-1)
        if first_day.wday != 0 then
          for x in 1..first_day.wday do
      %>
            <td></td>
          <% end %>
        <% end %>
      <%
        for d in 1..last_day.day do
          if first_day.wday == 0 && first_day.day != 1 then
      %>
            </tr><tr>
          <% end %>
          <td valign="baseline"><a href="#" id="<%= first_day.day %>/<%= last_day.day %>" onClick="cont(this);disp();return false;"><%= first_day.day %></a></td>
          <% first_day = first_day.next
        end %>
      <%
        if first_day.wday != 0 then
          for x in first_day.wday..6 do %>
            <td></td>
          <% end
        end %>
    </table>
    </td><td width="40%" valign="baseline">
      <div id="area1" style="display:none;">
        <% for x in 1..last_day.day do %>
          <div id="date<%= x %>" style="display:none;">
            <%= year %>/<%= month %>/<%= x %>の予定<br>
            <% @schedules.each do |day, schedule| %>
              <% if day == x %>
                <%= (schedule.schedule_content.started_at).strftime("%H:%M:%S") %> ~ <%= (schedule.schedule_content.ended_at).strftime("%H:%M:%S") %>：<%= schedule.schedule_content.title %><br>
                <%= schedule.schedule_content.detail %>
                <%= link_to "編集", 'schedule/' + (schedule.id).to_s + '/edit', class: 'btn btn-default' %>
                <%= link_to "削除", 'schedule/' + (schedule.id).to_s + '/delete', class: 'btn btn-default' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </td>
  </tr><tr>
    <td width="70%">
    <table width="100%">
      <tr>
        <td width="33%" align="center"><%= button_to "今月へ","/calendar", {method: :get} %></td>
      </tr>
    </table></td>
    <td width="30%">
    <div id="area2" style="display:none;">
      <table width="100%">
        <tr>
          <!-- 以下、本来はモーダル表示 -->
          <td width="33%" align="right"><%= button_to "追加","/calendar/#{@year}/#{@month+1}", {method: :get} %></td>
          <!-- ここまで -->
        </tr>
      </table>
    </div>
    </td>
  </tr>
</table>

<script language="JavaScript" type="text/javascript">
<!--
var elem0_1 = document.getElementById("area1");
var elem0_2 = document.getElementById("area2");
function disp() {
  elem0_1.style.display = "";
  elem0_2.style.display = "";
}
function cont(date) {
  var d = date.id.split("/");
  for ( var i = 1 ; i <= d[1] ; i++ ) {
    if (i == d[0] ) {
      document.getElementById("date"+i).style.display = "";
    } else {
      document.getElementById("date"+i).style.display = "none";
    }
  }
}
-->
</script>