<%
if params[:date].present?
    kbn = "add"
    moji = "追加"
elsif params[:schedule_id].present?
    kbn = "edit"
    moji = "編集"
    schedule_id = params[:schedule_id]
    schedule = session[:schedules]["#{schedule_id}"]
    schedule_content = session[:schedule_contents]["#{schedule_id}"]
end
require "time"
%>
<h2>スケジュール<%= moji %>画面</h2>
<%= form_tag({controller: :calendars, action: :registerSchedule}, {method: :post}) %>
    <%= hidden_field_tag :kbn, kbn, name: "kbn" %>
    <%=
        if kbn == "edit"
            hidden_field_tag :schedule_id, schedule_id, name: "schedule_id"
        end
    %>
    <p>
    <%= label_tag :'日付' %>
    <%=
        if kbn == "add"
            date_field_tag :date, Date.parse(params[:date]), name: "date"
        elsif kbn == "edit"
            date_field_tag :date, schedule["date"], name: "date"
        end
    %>
    </p>
    <p>
    <%= label_tag :'タイトル' %>
    <%=
        if kbn == "add"
            text_field_tag :title, "", name: "title"
        elsif kbn == "edit"
            text_field_tag :title, schedule_content["title"], name: "title"
        end
    %>
    </p>
    <p>
    <%= label_tag :'開始時刻' %>
    <%=
        if kbn == "add"
            datetime_field_tag :started_at, "", name: "started_at"
        elsif kbn == "edit"
            datetime_field_tag :started_at, DateTime.parse(schedule_content["started_at"]).strftime("%Y-%m-%dT%H:%M"), name: "started_at"
        end
    %>
    </p>
    <p>
    <%= label_tag :'終了時刻' %>
    <%=
        if kbn == "add"
            datetime_field_tag :ended_at, "", name: "ended_at"
        elsif kbn == "edit"
            datetime_field_tag :ended_at, DateTime.parse(schedule_content["ended_at"]).strftime("%Y-%m-%dT%H:%M"), name: "ended_at"
        end
    %>
    </p>
    <p>
    <%= label_tag :'説明' %>
    <%=
        if kbn == "add"
            text_field_tag :detail, "", name: "detail"
        elsif kbn == "edit"
            text_field_tag :detail, schedule_content["detail"], name: "detail"
        end
    %>
    </p>
    <%= submit_tag "決定" %>